APIFlask==2.1.1
apispec==6.6.1
Babel==2.15.0
blinker==1.8.2
click==8.1.7
dnspython==2.6.1
Flask==3.0.3
flask-babel==4.0.0
Flask-HTTPAuth==4.8.0
flask-marshmallow==1.2.1
Flask-PyMongo==2.3.0
gunicorn==22.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
marshmallow==3.21.2
packaging==24.0
pymongo==4.7.3
python-dotenv==1.0.1
pytz==2024.1
webargs==8.4.0
Werkzeug==3.0.3
